In [258]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
data=pd.read_csv(r"C:\Users\ASUS VIVOBOOK\Downloads\Sleep_health_and_lifestyle_dataset.csv")
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [259]:
data.isnull().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [260]:
data.duplicated().sum()

np.int64(0)

In [261]:
data.drop(columns=['Sleep Disorder'],axis=0, inplace=True)

In [262]:
data

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000
...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000

In [263]:
dtype=data.columns
num=[i for i in dtype if data[i].dtype!='object']
ctg=[i for i in dtype if data[i].dtype=='object']

In [264]:
catdata=data.drop(columns=num,axis=1)
data.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000

In [265]:

newdata = pd.get_dummies(data, columns=ctg, dtype=int)
newdata.head()

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps,Gender_Female,Gender_Male,...,Blood Pressure_130/85,Blood Pressure_130/86,Blood Pressure_131/86,Blood Pressure_132/87,Blood Pressure_135/88,Blood Pressure_135/90,Blood Pressure_139/91,Blood Pressure_140/90,Blood Pressure_140/95,Blood Pressure_142/92
0,1,27,6.1,6,42,6,77,4200,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2,28,6.2,6,60,8,75,10000,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,28,6.2,6,60,8,75,10000,0,1,...,0,0,0,0,0,0,0,0,0,0
3,4,28,5.9,4,30,8,85,3000,0,1,...,0,0,0,0,0,0,0,1,0,0
4,5,28,5.9,4,30,8,85,3000,0,1,...,0,0,0,0,0,0,0,1,0,0

In [266]:
from sklearn.preprocessing import StandardScaler
for i in num:
    scaler = StandardScaler()
    newdata[i]= scaler.fit_transform(newdata[[i]])

newdata.head()

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps,Gender_Female,Gender_Male,...,Blood Pressure_130/85,Blood Pressure_130/86,Blood Pressure_131/86,Blood Pressure_132/87,Blood Pressure_135/88,Blood Pressure_135/90,Blood Pressure_139/91,Blood Pressure_140/90,Blood Pressure_140/95,Blood Pressure_142/92
0,-1.727426,-1.753096,-1.298887,-1.098280,-0.825418,0.347021,1.654719,-1.619584,0,1,...,0,0,0,0,0,0,0,0,0,0
1,-1.718163,-1.637643,-1.173036,-1.098280,0.039844,1.475592,1.170474,1.970077,0,1,...,0,0,0,0,0,0,0,0,0,0
2,-1.708901,-1.637643,-1.173036,-1.098280,0.039844,1.475592,1.170474,1.970077,0,1,...,0,0,0,0,0,0,0,0,0,0
3,-1.699639,-1.637643,-1.550588,-2.771424,-1.402260,1.475592,3.591698,-2.362273,0,1,...,0,0,0,0,0,0,0,1,0,0
4,-1.690376,-1.637643,-1.550588,-2.771424,-1.402260,1.475592,3.591698,-2.362273,0,1,...,0,0,0,0,0,0,0,1,0,0